* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
}
h1,
h2 {
  font-family: "Roboto", sans-serif;
}
p,
span {
  font-family: "Satoshi", sans-serif;
}
:root {
  --gri-color: RGB(240, 240, 240);
}
nav {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-family: "Satoshi", sans-serif;
}

nav li {
  cursor: pointer;
  transition: all 0.3s ease;
}
nav li:hover {
  color: #868686;
}
.shop-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -100%;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  height: auto !important;
  border-radius: 25px;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
}
.shop {
  position: relative;
  cursor: pointer;
}
.shop-menu a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 25px;
  width: 100%;
  padding: 0.2rem 1rem;
}
.shop-menu a:hover {
  background-color: #ebebeb;
}
.nav-search-container {
  background-color: var(--gri-color);
  border-radius: 25px;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  transition: all 0.5s ease;
}
.nav-search-container input {
  border: none;
  background-color: var(--gri-color);
  width: 100%;
  border-radius: 25px;
  padding: 0.8rem 0 0.8rem 0;
  outline: none;
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
}
.nav-search-container:hover {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}
.ph-magnifying-glass {
  font-size: 25px;
  opacity: 0.5;
  font-weight: 600;
}
.nav-right {
  display: flex;
  gap: 1rem;
}
.ph-shopping-cart,
.ph-user-circle {
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
}
.nav-right a {
  text-decoration: none;
  color: #000000;
}
/* HERO */
.hero {
  width: 100%;
  min-height: 80vh;
  background-image: url(İmages/Rectangle\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.hero-left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}
.hero-left h1 {
  display: block;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  max-width: 600px;
}
.hero-left p {
  max-width: 80%;
}
.hero-left button {
  border: none;
  border-radius: 25px;
  padding: 1.1rem 0;
  background-color: #000000;
  color: #ffffff;
  width: 210px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.4s ease;
}

.hero-left button:hover {
  background-color: #1a1a1a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.hero-left button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.hero-stats {
  display: flex;
  gap: 2rem;
}
.hero-stat:nth-child(1),
.hero-stat:nth-child(2) {
  border-right: 1px solid #e4e4e7;
}
.hero-stat span {
  font-size: 40px;
  font-weight: bold;
}
.hero-stat p {
  width: 200px;
}
.hero-bottom {
  background-color: #000000;
  width: 100%;
}
.hero-bottom-svg {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-bottom svg {
  height: 130px;
}
/* New Arrivals */
.clothing-top {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-bottom: 1px solid #e4e4e7;
}
.clothing-bottom {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.new-arrivals-tittle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}

.new-arrivals-card-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.new-arrivals-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.new-arrivals-card img:hover {
  transform: scale(1.05);
}
.new-arrivals-card img {
  overflow: hidden;
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease;
}
.ph-star {
  color: RGB(255, 198, 51);
}
.half-star {
  clip-path: inset(0 50% 0 0);
}
.new-arrivals-icon span {
  font-size: 16px;
  opacity: 0.6;
}
.new-arrivals-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.new-arrivals-card > span:last-child {
  font-size: 20px;
}
.new-arrivals-button {
  display: flex;
  justify-content: center;
}

.clothing-top button,
.clothing-bottom button {
  border: 1px solid #e4e4e7;
  padding: 1rem 4rem;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.4s ease;
}
.clothing-top button:hover,
.clothing-bottom button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.clothing-top button:active,
.clothing-bottom button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.price {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.price > span:nth-child(2) {
  opacity: 0.6;
  text-decoration: line-through;
}
.indirim {
  background-color: RGB(255, 235, 235);
  padding: 0.2rem 0.7rem;
  border-radius: 25px;
  color: #ff3333;
  font-size: 14px;
}
/* BROWSE */
.browse {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
.browse-container {
  background-color: RGB(240, 240, 240);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 4rem 2rem;
  gap: 2rem;
}
.browse-container-tittle {
  text-transform: uppercase;
  font-size: 38px;
}

.browse-cards-row {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.browse-card {
  height: 300px;
  border-radius: 20px;
  display: flex;
  padding: 2rem 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 0 0 35%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(İmages/image\ 15.png);
  background-position: center;
  box-sizing: border-box;
  justify-content: flex-start;
  float: right;
}
.browse-card span,
.browse-card-2 span {
  font-size: 26px;
  font-weight: 600;
}
.browse-card-2 {
  border-radius: 20px;
  padding: 2rem 2rem;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 0 0 63%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(İmages/image\ 16.png);
  background-position: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.browse-cards-row-2 {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}
.browse-card-3 {
  height: 300px;
  border-radius: 20px;
  display: flex;
  padding: 2rem 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(İmages/image\ 17.png);
  background-position: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.browse-card-3 span,
.browse-card-4 span {
  font-size: 26px;
  font-weight: 600;
}
.browse-card-4 {
  border-radius: 20px;
  padding: 2rem 2rem;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(İmages/image\ 18.png);
  background-position: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
/* CUSTOMERS */
.customers {
  width: 100%;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.customers-header {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.customers-tittle {
  font-size: 42px;
}

.arrow-btn {
  background: transparent;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease;
}

.arrow-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.arrow-btn:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.ph-check-circle {
  color: rgb(1, 171, 49);
}

.customers-slider-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper {
  display: flex;
  gap: 2rem;
  width: max-content;
}

.customers-card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  border: 1px solid #e4e4e7;
  border-radius: 20px;
  padding: 2.5rem;
  background-color: #fff;
  height: auto;
}
/* Footer Black */
.footer-black-top {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  padding: 2.5rem 4rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  transform: translateY(-50%);
  align-items: center;
}
.black-top-left {
  font-size: 30px;
  color: #ffffff;
  max-width: 550px;
  line-height: 48px;
  text-transform: uppercase;
}
.black-top-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.black-search {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding-left: 1rem;
}
.black-input {
  padding: 1rem 4rem 1rem 1rem;
  border: none;
  width: 100%;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
}
.ph-envelope {
  font-size: 24px;
  opacity: 0.6;
}
.black-button {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.black-button:hover {
  box-shadow: 0 10px 20px rgba(248, 247, 247, 0.418);
}
.black-button:active {
  transform: translateY(2px);
  box-shadow: 0 10px 20px rgba(248, 247, 247, 0.418);
}
/* FOOTER */
footer {
  background-color: RGB(240, 240, 240);
  position: relative;
  margin-top: 8rem;
}
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.social-link {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-link:hover,
.social-link.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.container-row {
  display: flex;
  padding-bottom: 4rem;
  border-bottom: 1px solid #e4e4e7;
  justify-content: space-between;
}

.container-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-column h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
}
.container-column p {
  max-width: 300px;
}
.footer-tittle {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-big-tittle a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
}
.footer-container-right {
  display: flex;
  gap: 8rem;
}
.column-ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
}
.column-li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column-ul ul {
  list-style: none;
  font-family: "Satoshi", sans-serif;
}

.column-li li {
  cursor: pointer;
  opacity: 0.6;
  width: fit-content;
}

.column-ul h2 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-bottom {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-left {
  opacity: 0.6;
}
.footer-bottom-right img {
  cursor: pointer;
}

/* 2. MOBİL TASARIMI (max-width: 768px) */
@media (max-width: 767px) {
  nav {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }
  nav ul {
    display: none;
  }
  .nav-search-container {
    width: 100%;
    order: 3;
  }
  .nav-right {
    order: 2;
  }
  .hero {
    background-image: none;
    background-color: var(--gri-color);
    min-height: auto;
    padding: 3rem 1.5rem;
  }
  .hero-left {
    max-width: 100%;
    gap: 2rem;
  }
  .hero-left h1 {
    font-size: 36px;
  }
  .hero-left p {
    max-width: 100%;
  }
  .hero-left button {
    width: 100%;
  }

  .hero-stats {
    justify-content: center;
    text-align: center;
    gap: 0.2rem;
    flex-wrap: wrap;
  }
  .hero-stat {
    justify-content: center;
    align-items: center;
    width: 147px;
  }
  .hero-stat:nth-child(1),
  .hero-stat:nth-child(2) {
    border: none;
  }
  .hero-stat span {
    font-size: 24px;
  }
  .hero-bottom-svg {
    display: flex;
    width: 100%;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .hero-bottom-svg svg:nth-child(4),
  .hero-bottom-svg svg:nth-child(5) {
    grid-column-end: span 2;
  }
  .hero-bottom-svg svg {
    width: 100px;
    height: 60px;
  }
  .clothing-top,
  .clothing-bottom {
    padding: 2.5rem 0;
    gap: 2.5rem;
  }
  .new-arrivals-tittle {
    font-size: 24px;
  }
  .new-arrivals-card-row {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .browse-container {
    padding: 2.5rem 1rem;
  }
  .browse-container h2 {
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    width: 270px;
  }
  .browse-cards-row,
  .browse-cards-row-2 {
    display: flex;
    flex-direction: column;
  }
  .browse-container-tittle {
    font-size: 28px;
  }
  .browse-card-resp {
    padding: 6rem 2rem;
  }
  .customers {
    padding: 4rem 0;
  }
  .customers-tittle {
    font-size: 28px;
    padding-left: 1rem;
  }
  .customers-card {
    flex: 0 0 350px;
    padding: 1.5rem;
  }
  .customers-slider-wrapper {
    padding: 1rem;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      #000 4%,
      #000 96%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 4%,
      #000 96%,
      transparent
    );
  }

  .footer-black-top {
    padding: 2rem 1.5rem;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .black-top-left h2 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 900;
  }

  .footer-container {
    margin: 0 auto;
  }
  .container-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    gap: 2rem;
  }
  .footer-tittle {
    max-width: 500px;
    width: 700px;
  }
  .footer-container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .container-column {
    grid-column: span 1;
  }
  .footer-tittle {
    display: flex;
    width: 90%;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }
  nav ul {
    display: none;
  }
  .nav-search-container {
    width: 60%;
  }

  .hero {
    padding: 2rem 2rem;
    background-image: none;
  }
  .hero-left {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-bottom-svg {
    display: flex;
    width: 100%;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-left h1 {
    font-size: 48px;
  }
  .new-arrivals-card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 4rem;
  }
  .browse-card,
  .browse-card-2,
  .browse-card-3,
  .browse-card-4 {
    flex: 1 1 100%;
  }
  .customers-header {
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .customers h2 {
    font-size: 46px;
  }
  .customers-card {
    flex: 0 0 340px;
    padding: 2rem;
  }

  .footer-black-top {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 2.5rem;
    margin-bottom: -150px;
  }
  .black-top-right {
    width: 100%;
  }
  .container-row {
    padding-left: 2rem;
  }
  .footer-container-right {
    display: flex;
    gap: 4rem;
  }
  .container-row {
    display: grid;
    gap: 3rem;
  }
  .container-column {
    grid-column: span 2;
    max-width: 100%;
  }
}
